<%- include adminheader %>
<html>
<head>
    <link href="/bootstrap.css" rel="stylesheet">

</head>

<body>


<div style="padding:30px">
</div>
<h4 align="center">BILL INVOICE - Order Id <%= info[0].orderId %><br><br>
<% var totr=0; info.forEach( function ( info ){ 
  totr=totr+info.RentAmount }); %>
 Total Rent is <%=totr%> 
        <% if (info[0].userType=="Premium"){%>
           + Monthly Subscription fees $10
           <%}%></h4>



<div style="width:500px;">


        
    
<div style="float:left;width:250px;" >
<div class="container"  style="float:left;width:250px;">

    


    <form >
        <div class="col-md-12 col-md-offset-6">
        <div class="page-header text-center">
        <h4><span class="fa fa-anchor"></span>User Information</h4>
        
    </div>
            <table class="table table-bordered table-hover">
                <tbody style="text-align:left;">
                <tr>
                    <th style="width: 150px;">Member ID: </th>
                    <td><%= info[0].userId %><br></td>
                </tr>
                <tr>
                    <th style="width: 150px;">Email: </th>
                    <td><%= info[0].email %><br></td>
                </tr>
                <tr>
                    <th style="width: 150px;">Name: </th>
                    <td><%=info[0].firstName %> <%= info[0].lastName %></td>
                </tr>
                <tr>
                    <th style="width: 150px;">Phone Number: </th>
                    <td><%= info[0].phone %><br></td>
                </tr>
                <tr>
                    <th style="width: 150px;">Address: </th>
                    <td><%= info[0].address %></td>
                </tr>
                <tr>
                    <th style="width: 150px;">City: </th>
                    <td><%= info[0].city %></td>
                </tr>
                <tr>
                    <th style="width: 150px;">State: </th>
                    <td><%= info[0].state %></td>
                </tr>
                <tr>
                    <th style="width: 150px;">Zip Code: </th>
                    <td><%= info[0].zipcode %></td>
                </tr>

                <tr>
                    <th style="width: 150px;">Membership: </th>
                    <td><%= info[0].userType %></td>
                </tr>

                <tr>
                    <th style="width: 150px;">Membership Start Date: </th>
                    <td><%= info[0].createDate %></td>
                </tr>

                <tr>
                    <th style="width: 150px;">Membership Expire Date: </th>
                    <td><%= info[0].expireDate %></td>
                </tr>

                <tr>
                    <th style="width: 150px;">Checkout Copy: </th>
                    <td><%= info[0].checkedOutCopy %></td>
                </tr>

                <tr>
                    <th style="width: 150px;">Available Copy: </th>
                    <td><%= info[0].availableCopy %></td>
                </tr>

                <tr>
                    <th style="width: 150px;">Balance: </th>
                    <td><%= info[0].balance %></td>
                </tr>
           
                </tbody>
            </table>
            
        </div>  
        </div>
        </div>
        <div style="float:right;width:250px;" >
         <div class="container"  >   
           
            
          
             <form >
        <div class="col-md-6 col-md-offset-3">
        <div class="page-header text-center">

        <h4><span class="fa fa-anchor"></span>Movie Information</h4>
    </div>
         <% var totrent=0;var i=0; info.forEach( function ( info ){ %>
         <h4><span class="fa fa-anchor"></span>Movie <%= ++i %></h4>
            <table class="table table-bordered table-hover">
               
                
                <tr>
                    <th style="width: 150px;">MovieID: </th>
                    <td><%=info.id%><br></td>
                </tr>
                <tr>
                    <th style="width: 150px;">Movie Name: </th>
                    <td><%=info.MovieName%><br></td>
                </tr>
                <tr>
                    <th style="width: 150px;">Movie Banner: </th>
                    <td><%= info.MovieBanner %></td>
                </tr>
                <tr>
                    <th style="width: 150px;">Release Date: </th>
                    <td><%= info.ReleaseDate %><br></td>
                </tr>
                <tr>
                    <th style="width: 150px;">Rent Amount: </th>
                    <td><%= info.RentAmount %></td>
                    <% totrent=totrent+info.RentAmount %>
                </tr>

                <tr>
                    <th style="width: 150px;">Available Copies: </th>
                    <td><%= info.AvailableCopies %></td>
                </tr>

                <tr>
                    <th style="width: 150px;">Category: </th>
                    <td><%= info.category %></td>
                </tr>

               <tr>
                    <th style="width: 150px;">issue date: </th>
                    <td><%= info.issueDate %></td>
                </tr>

               </tbody>
            </table>
           <% }); %>
           <% if (info[0].balance > totrent){%>
           <h2> Monthly Subscription fees $10 for Premium member added to bill </h2>
           <%}%>
            

            </div>
    </form>
</div>
</div>
</div>









</body>


</html>