<%- include adminheader %>
<html>
<head>
<script>
function val()
{
if ($('input[name=Rad]:checked').length == 0) {
    alert('Please select a movie');
    return false;
}
	 var btnId = $('input[name=Rad]:checked').attr('id');
	 var s1="/issueMovie/"
	 var s2=document.getElementById('c1').value;
	 var s3="/"
     //alert(btnId);
	 //var s4=document.getElementById('c2').value;
	 document.getElementById('myform').action=s1.concat(s2,s3,btnId);
	 document.getElementById('myform').submit();       
}
</script>

<link href="/bootstrap.css" rel="stylesheet">

</head>

<body>
<div style="padding:30px">
</div>

<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Issue Movie </h1>        
        Welcome <%=user.firstName%>
        <input type="hidden" value="<%=user.id%>" id="c1" name="<%=user.id%>">
    </div>	

<!-- show any messages that come back with authentication -->
    	<% if (message.length > 0) { %>
    		<div class="alert alert-danger"><%= message %></div>
    	<% } %>
<label> Search Attribute </label>
<form class="form-inline" id="myform" name="myform" role="form" method="post" action="/issueSearch/<%=user.userId%>/<%=user.firstName%>">
  <select class="form-control" id="searchparam" name="searchparam">
                    <option value="id">id</option>
                    <option value="MovieName">MovieName</option>
                    <option value="MovieBanner">MovieBanner</option>
                    <option value="ReleaseDate">ReleaseDate</option>
                    <option value="RentAmount">RentAmt</option>
                    <option value="AvailablelCopies">AvlCopies</option>
                    <option value="category">category</option>
  </select> &nbsp&nbsp&nbsp&nbsp
  <div class="form-group">
    <label class="sr-only">Search String</label>
    <input type="text" class="form-control" placeholder="Enter Search String" id="str" name="str">
  </div>
  &nbsp&nbsp&nbsp&nbsp
  <button type="submit" class="btn btn-primary">Search<i class="icon-search"></i></button>&nbsp&nbsp&nbsp&nbsp
<button type="button" class="btn btn-primary" onclick="val()">Issue Movie<i class="icon-search"></i></button>
<br><br>

    <%
    if (searchres!='')
    {
    	searchres.forEach( function ( searchres ){ %>

    	<div class="panel panel-default">
        	<div class="panel-heading">
            	<a href="/viewMoviePage/<%= searchres.id %>"><h3 class="panel-title"> <%= searchres.MovieName %></h3> </a>
            	<div>Id: <%= searchres.id %></div>
            	<div class="radio">
                <label>
                <input type="radio" id="<%=searchres.id%>" value="<%=searchres.id%>" name="Rad"> Select movie
                </label>
                </div>
            </div>        
        </div>
<% });} %>
</form>
</div>
</body>
</html>
