<script>
function incr()
{
	var txt=document.getElementById('count1');
	txt.value++;
	//document.getElementById('count1').value=document.getElementById('count1').value+1;
	var str1="/movieall/";
	var str2=document.getElementById('count1').value;
	document.getElementById('myform').action=str1.concat(str2);
	document.getElementById('myform').submit();
}
function decr()
{
	var txt=document.getElementById('count1');
	if(txt.value>1){txt.value--;}
	var str1="/movieall/";
	var str2=document.getElementById('count1').value;
	document.getElementById('myform').action=str1.concat(str2);
	document.getElementById('myform').submit();
}
</script>
<%- include adminheader %>
<div style="padding:30px">
</div>

<div class="container">
	<form action="" id="myform" name="myform">
    <div class="page-header text-center">
		<input type="hidden" id="count1" name="count1" value="<%=cnt%>">
        <h1><span class="fa fa-anchor"></span> All Movies </h1>
        <div>
        <h4> 
        <button type="submit" class="btn btn-default btn-lg active" onclick="decr()"><< PREV </button>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <%
        var high=cnt * 20;
    	var low= high - 20; %>
    	Showing <%=low%> to <%=high%>
    	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <button type="submit" class="btn btn-default btn-lg active" onclick="incr()">NEXT >></button>
        </h4>
        </div>
    </div>
    
    <div class="centered">
            <table class="table table-bordered table-hover">
                <tbody style="text-align:left;">
                <tr>
                	<th style="width: 150px;">ID </th>
                	<th style="width: 150px;">MovieName </th>
                	<th style="width: 150px;">MovieBanner </th>
                	<th style="width: 150px;">ReleaseDate </th>
                	<th style="width: 150px;">RentAmt </th>
                	<th style="width: 150px;">AvlCopies </th>
                	<th style="width: 150px;">Category </th>
                </tr>
                
                <% movies.forEach( function ( movies ){ %>
                <tr>
                    <td><%= movies.id %><br></td>   
                                     
                    <td><%= movies.MovieName %></td>
                
                    <td><%= movies.MovieBanner %><br></td>
               
                    <td><%= movies.ReleaseDate %></td>
                
                    <td><%= movies.RentAmount %></td>
                
                    <td><%= movies.AvailableCopies %></td>
                    
                    <td><%= movies.category %></td>
                </tr>               
                <%} ); %>
                </tbody>
            </table>
            </div>
    </form>
</div>