<%- include adminheader %>
<div style="padding:30px">
</div>

<div class="container">

    <div class="page-header text-center">

        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/modifyprofile/<%= user.userId %>" class="btn btn-primary">Modify Profile  </a>
        
            <a href="/destroy/<%= user.userId %>"  class="btn btn-primary">Delete Member</a>

            <a href="/changeMembership/<%= user.userId %>/<%= user.userType %>" class="btn btn-primary">Change Membership  </a>

            <a href="/issue/<%= user.userId %>" class="btn btn-primary">Issue Movie</a>
            
            <a href="/returnMovie/<%= user.userId %>/<%=user.firstName%>" class="btn btn-primary">Return Movie</a>
            
            <a href="/checkoutPage/<%= user.userId %>" class="btn btn-primary">cart</a>
    </div>


    <form >
        <div class="col-md-6 col-md-offset-3">
            <table class="table table-bordered table-hover">
                <tbody style="text-align:left;">
                <tr>
                    <th style="width: 150px;">Member ID: </th>
                    <td><%= user.userId %><br></td>
                </tr>
                <tr>
                    <th style="width: 150px;">Email: </th>
                    <td><%= user.email %><br></td>
                </tr>
                <tr>
                    <th style="width: 150px;">Name: </th>
                    <td><%= user.firstName %> <%= user.lastName %></td>
                </tr>
                <tr>
                    <th style="width: 150px;">Phone Number: </th>
                    <td><%= user.phone %><br></td>
                </tr>
                <tr>
                    <th style="width: 150px;">Address: </th>
                    <td><%= user.address %></td>
                </tr>
                <tr>
                    <th style="width: 150px;">City: </th>
                    <td><%= user.city %></td>
                </tr>
                <tr>
                    <th style="width: 150px;">State: </th>
                    <td><%= user.state %></td>
                </tr>
                <tr>
                    <th style="width: 150px;">Zip Code: </th>
                    <td><%= user.zipcode %></td>
                </tr>

                <tr>
                    <th style="width: 150px;">Membership: </th>
                    <td><%= user.userType %></td>
                </tr>

                <tr>
                    <th style="width: 150px;">Membership Start Date: </th>
                    <td><%= user.createDate %></td>
                </tr>

                <tr>
                    <th style="width: 150px;">Membership Expire Date: </th>
                    <td><%= user.expireDate %></td>
                </tr>

                <tr>
                    <th style="width: 150px;">Checkout Copy: </th>
                    <td><%= user.checkedOutCopy %></td>
                </tr>

                <tr>
                    <th style="width: 150px;">Available Copy: </th>
                    <td><%= user.availableCopy %></td>
                </tr>

                <tr>
                    <th style="width: 150px;">Balance: </th>
                    <td><%= user.balance %></td>
                </tr>

                </tbody>
            </table>
            </div>
    </form>


</div>


