<%- include adminheader %>
<div style="padding:30px">
</div>
<script>

    $(document).ready(function() {
        $('#searchparam').change(function() {
            if($('#searchparam').val() == "zipcode"){
                $("#str").attr('pattern', '[0-9]{5}|[0-9]{5}-[0-9]{4}');
                $("#str").attr('title', 'Please enter valid zip code (Format: 99999 or 99999-9999)');
            }
            else if($('#searchparam').val() == "email"){
                $("#str").attr('pattern', '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$');
                $("#str").attr('title', 'Please enter valid email');

            }
            else if($('#searchparam').val() == "userId"){
                $("#str").attr('pattern', '[0-9]{3}-[0-9]{2}-[0-9]{4}');
                $("#str").attr('title', 'Please enter valid member ID (Format: 999-99-9999)');

            }
            else if($('#searchparam').val() == "phone"){
                $("#str").attr('pattern', '[0-9]{10}');
                $("#str").attr('title', 'Please enter valid phone number');

            }
            else if($('#searchparam').val() == "address"){
                $("#str").removeAttr('pattern');
                $("#str").removeAttr('title');
            }
            else if($('#searchparam').val() == "city"){
                $("#str").removeAttr('pattern');
                $("#str").removeAttr('title');
            }
            else if($('#searchparam').val() == "state"){
                $("#str").removeAttr('pattern');
                $("#str").removeAttr('pattern');
            }
            else if($('#searchparam').val() == "firstName"){
                $("#str").removeAttr('pattern');
                $("#str").removeAttr('pattern');
            }
            else if($('#searchparam').val() == "lastName"){
                $("#str").removeAttr('pattern');
                $("#str").removeAttr('pattern');
            }
            else if($('#searchparam').val() == "userType"){
                $("#str").removeAttr('pattern');
                $("#str").removeAttr('pattern');
            }

        });
    });

//
//    $(document).ready(function() {
//
//        $("#searchparam option").filter(function() {
//            return $(this).val() == $("#firstname").val();
//        }).attr('selected', true);
//
//        $("#name").live("change", function() {
//
//            $("#firstname").val($(this).find("option:selected").attr("value"));
//        });
//    });

</script>


<body>

<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Search Members</h1>
    </div>

	<h4> Search Based on Attributes </h4>
	<form class="form-inline" role="form" method="post" action="/searchMember">
 		<select class="form-control" id="searchparam" name="searchparam">
                    <option value="userId">Member ID</option>
                    <option value="email">Email</option>
                    <option value="firstName">First Name</option>
                    <option value="lastName">Last Name</option>
                    <option value="phone">Phone Number</option>
                    <option value="address">Address</option>
                    <option value="city">City</option>
                    <option value="state">State</option>
                    <option value="zipcode">Zip Code</option>
                    <option value="userType">Membership</option>
  		</select>
        <div class="form-group">
            <label class="sr-only">Search String</label>
            <input type="text" class="form-control" pattern = "[0-9]{3}-[0-9]{2}-[0-9]{4}" title = "Please enter valid member ID (Format: 999-99-9999)" placeholder="Enter Search String" id="str" name="str">
        </div>
 		<button type="submit" class="btn btn-primary">Search</button>
	</form>

	<br>



    <% users.forEach( function ( user ){ %>

    <div class="panel panel-default">

        <div class="panel-heading">
            <a href="/profile/<%= user.userId %>"><h3 class="panel-title"><%= user.userId %></h3> </a>
        </div>
               
        <table class="table table-bordered table-hover">
            	<tbody style="text-align:left;">
                    <tr>
                        <th style="width: 150px;">Email: </th>
                        <td><%= user.email %></td>
                    </tr>
            		<tr>
                		<th style="width: 150px;">Name: </th>
                		<td><%= user.firstName %> <%= user.lastName %></td>
            		</tr>
            		<tr>
                		<th style="width: 150px;">Phone Number: </th>
                		<td> <%= user.phone %></td>
            		</tr>
            		<tr>
                		<th style="width: 150px;">Address: </th>
                		<td> <%= user.address %></td>
            		</tr>
            		<tr>
                		<th style="width: 150px;">Membership: </th>
                		<td> <%= user.userType %></td>
            		</tr>
            		<tr>
                		<th style="width: 150px;">Expire Date: </th>
                		<td> <%= user.expireDate %></td>
            		</tr>
            	</tbody>
            </table>

    </div>

	<% }); %>
</div>
</body>